<label class="label">Authors</label>
<div class="authors-list">
    <div *ngFor="let item of innerValue">
        <div class="author">
            <input type="checkbox" 
            [name]="item.id" 
            [id]="item.id" 
            [value]="item.id" 
            [checked]="item.selected"
            (change)="onInputValueChange(item)"
            (blur)="onBlur()">
        
            <label [for]="item.id">{{ item.firstName }} {{ item.lastName }}</label>
        </div>
    </div>
</div>