:host {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(87, 224, 67, 0.7)
}

.loader-slot {
    position: relative;
    height: 100vh;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 400px;
    padding: 20px 10px;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
   
    
    background: lightslategray;
}

img {
    border-radius: 20px;
}