<!--<app-profiler></app-profiler>-->

<app-toolbox (findCourses)="onFindCourses($event)"></app-toolbox>

<div class="courses-container">
    <app-course-item    *ngFor="let course of courses" 
                        [course]="course" 
                        (deleteCourse)="onDeleteCourse($event)" 
                        [highlightByCreateDate]="course.date"
                        [ngClass]="{'top-rated': course.isTopRated}">
    </app-course-item>
    <div *ngIf="isPagesBlockShouldBeShown()" class="pages">
        <button *ngFor="let pageNumber of getPageNumbers()" (click)="getPage(pageNumber, searchVal)">{{ pageNumber }}</button>
    </div>
    <div *ngIf="!courses.length" class="no-courses-found">
        No data. Feel free to add a new course.
    </div>
</div>