<div class="clearfix">
    <div class="attributes">
    <span class="name">{{ course.name | uppercase }}</span> |
    <span class="duration">{{ course.duration | duration }}</span> |
    <span class="date">{{ course.date | date }}</span>
    <span *ngIf="course.isTopRated">&#9734;</span>

    <p>
        {{ course.description }}
    </p>
    </div>
    <div class="action-group">
        <button type="button" (click)="goToDetails(course.id)">Edit course</button>
        <button type="button" (click)="delete()">Delete</button>
    </div>
</div>